DLL/TNS.AdExpressI.Visual.WebService/Web References/CreativeView/CreativeView.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetBinaries">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="relativePath" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="idVehicle" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="isBlur" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="isCover" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBinariesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBinariesResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetBinariesSoapIn">
    <wsdl:part name="parameters" element="tns:GetBinaries" />
  </wsdl:message>
  <wsdl:message name="GetBinariesSoapOut">
    <wsdl:part name="parameters" element="tns:GetBinariesResponse" />
  </wsdl:message>
  <wsdl:portType name="CreativeViewSoap">
    <wsdl:operation name="GetBinaries">
      <wsdl:input message="tns:GetBinariesSoapIn" />
      <wsdl:output message="tns:GetBinariesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CreativeViewSoap" type="tns:CreativeViewSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBinaries">
      <soap:operation soapAction="http://tempuri.org/GetBinaries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CreativeViewSoap12" type="tns:CreativeViewSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBinaries">
      <soap12:operation soapAction="http://tempuri.org/GetBinaries" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CreativeView">
    <wsdl:port name="CreativeViewSoap" binding="tns:CreativeViewSoap">
      <soap:address location="http://localhost:33801/CreativeView.asmx" />
    </wsdl:port>
    <wsdl:port name="CreativeViewSoap12" binding="tns:CreativeViewSoap12">
      <soap12:address location="http://localhost:33801/CreativeView.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>